@use 'src/styles/common' as c;

@mixin on-level($level) {
  &--on-level {
    &-#{$level} {
      @content;
    }
  }
}

:host {
  display: block;
  min-width: calc(100vw - 100px);

  @include c.viewport-greater(sm) {
    min-width: 200px;
    margin-top: -2px;
  }
}

.menu-item-list {
  &__item {
    @include on-level(1) {
      border-left: 20px solid c.$color-green;
      border-bottom: 2px solid c.$color-green;

      &:not(:first-child) {
        margin: 20px 0;
      }
    }

    @include on-level(2) {
      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 10px;
      }
    }

    @include on-level(3) {
      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
}

.menu-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__link {
    font-size: 16px;

    @include on-level(2) {
      margin: 10px 10px;
    }

    @include on-level(3) {
      margin: 10px 30px;
    }
  }

  &__text {
    flex-grow: 1;

    @include on-level(1) {
      padding: 10px 10px;
      font-weight: bold;
      font-size: 20px;
      border-top: 2px solid c.$color-green;
      border-bottom: 2px solid c.$color-green;
      background-color: c.$color-white;
    }

    @include on-level(2) {
      padding: 5px 30px;
      margin-top: 10px;
      border-top: 2px solid c.$color-green;
      border-bottom: 2px solid c.$color-green;
      background-color: c.$color-white;
      font-weight: bold;
    }
  }

  &__arrow {
    margin-left: auto;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
  }
}
