@use 'src/styles/common' as c;

@mixin _reset-button-styles() {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;

  &:focus {
    outline: 0;
  }
}


.button {
  @include _reset-button-styles;

  &--icon-only {
    padding: 5px;

    &:focus {
      outline-offset: 2px;
      outline: 2px dotted c.$color-darkgreen;
    }
  }
}
