<h1>Menu item task</h1>
<p>The goal of this simple task is to create a sidebar navigation element from the menu items array in the `config.json` file found in the assets folder that could be used for an application. The implementation and the extent of it is open, but in general we are looking for quality to quantity. Setting up components for each menu item and the usage of a router is out of scope, instead here are a list of things you could take into consideration:</p>
<ul>
  <li>Dry and modular code</li>
  <li>Code readabiliy</li>
  <li>Responsiveness</li>
  <li>Accessibility</li>
  <li>Clear and concise commits</li>
</ul>